/* Sections */
.section {
    color: #ffffff;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center !important; 
}
.section-heading,
.section-description {
    margin-top: 50px;
    padding-top: 50px;
}



@media (min-width: 300px) {
    .container-fluid {
        max-width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        justify-content: center !important; 
      }
}

@media (min-width: 1000px) {
    .container-fluid {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        justify-content: center !important; 
      }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

/* html:not(.no-js) [data-aos^="fade"][data-aos^="fade"] {
    opacity: 100 !important;
    } */

#back-up{
    position: fixed;
    bottom: 3%;
    right: 2%;
    z-index: 10000;
}
#back-up:hover{
    opacity: 70%;
}

#back-up-icon{
    width: 70px;
}
/* Heading */

#particles-js{
    content: "";
    position: absolute;
    max-width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
.hero{
    font-family: 'Raleway', Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    overflow-y: hidden;
}
.hero::before{
    content: "";
    background-image: url(../images/butterfly\ nebula.jpg); 
    opacity: 60%;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -10;
    max-height: 100vh;
}

canvas {
    display: block;
}

.carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto
}

.selfie{
    margin-top: 5rem;
    max-width: 200px;
    max-height: 200px;
    display: inline;
    vertical-align: middle;
}

.name{
    padding-top: 50px;
}

.intro{
    display: flex;
}

.social{
    display: inline-block;
    width: 35px;
    margin: 0 10px;
}

.social:hover{
    opacity: 70%;
}

/* About Me */

@media (min-width: 300px) {
    #about-me{
        margin: 0 5vh;
    }
    #about-list{
        margin: 0 10px;
    }
}

@media (min-width: 1000px) {
    #about-me{
        margin: 0 25vh !important;
    }
    
    #about-list{
        margin: 0 50px;
    }
}

#about-me-text{
    text-align: left;
    
}

.card{
    background-color: var(--cardColor);
    padding: 50px 50px 50px;
    position: relative;
    box-shadow: 0.5rem 0.5rem 3rem 0 rgb(0 0 0 / 50%);
    border-radius: 25px;
}


/* Work */
.work{
    background-color: var(--bkgColor);
}