/* Sections */
.section {
    color: #ffffff;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center !important; 
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center !important; 
  }
  
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  html:not(.no-js) [data-aos^="fade"][data-aos^="fade"] {
    opacity: 100 !important;
    }

/* Heading */

#particles-js{
    content: "";
    position: absolute;
    max-width: 100%;
    height: 500px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
.hero{
    padding: 5rem 0 0rem 0rem;
    font-family: 'Raleway', Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
}
.hero::before{
    content: "";
    background-image: url(../images/butterfly\ nebula.jpg); 
    opacity: 60%;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -10;
    height: 105vh;
}

canvas {
    display: block;
}

.carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto
}

.selfie{
    max-width: 200px;
    max-height: 200px;
    display: inline;
    vertical-align: middle;
}

.name{
    padding-top: 50px;
}

.intro{
    display: flex;
}

.social{
    display: inline-block;
    width: 35px;
    margin: 0 10px;
}

.social:hover{
    opacity: 70%;
}

/* About Me */

#about-me{
    text-align: left;
    padding-left: 40px;
    margin: 0 200px; 
}

#about-list{
    margin: 0 60px;
}
/* Work */
.work{
    background-color: #17182f;
}